@import "tailwindcss";

@keyframes slideIn {
  from {
    transform: translateX(120%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

body {
  font-family: 'Space Grotesk', sans-serif;
}