@import "palette";

button {
    position: relative;
    padding: 10px 20px;
    border-radius: 20px;
    background: $secondarycolor;
    color: $textcolor;
    border: 1px solid $background;
    cursor: pointer;
    overflow: hidden;
}

button::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.15);
    opacity: 0;
    transition: 0.3s;
}

button:hover::after {
    opacity: 1;
}