$primarycolor: rgb(9 10 33);
$secondarycolor: rgb(29 34 46);
$textcolor: rgb(255, 255, 255);
$activecolor: rgb(243 90 89);
$background: rgb(82 88 103);
$lightgray: rgb(85 85 85);
$bordercolor: rgb(58, 62, 75);