th,
td {
    border: 1px solid #ccc;
    padding: 10px;
}

th {
    background: #333;
    color: white;
}

td {
    background: white;
}

/* სტატუსების ფერები */
.active {
    color: green;
    font-weight: bold;
}

.expired {
    color: red;
    font-weight: bold;
}

.invalid {
    color: orange;
    font-weight: bold;
}

.none {
    color: gray;
}