* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th,
td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background: #2c3e50;
    color: white;
}

.status {
    &.active {
        color: green;
        font-weight: bold;
    }

    &.expired {
        color: red;
        font-weight: bold;
    }

    &.no-sub {
        color: gray;
    }

    &.unknown {
        color: orange;
    }
}