* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    background-color:aqua;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
}

