*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
}

aside{
    width:200px;
    border-right:1px solid;
}

aside div{
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
    border: 1px solid blue;
}

main{
    width:calc(100% - 200px)
}

form{
    width: 60%;
    margin: 0 auto;
    background-color: aliceblue;
    padding: 10px;
    margin-top: 10px;
}
 input,textarea{
    width:100%;
 }

div.cards{
    display: flex;
    flex-wrap: wrap;
    background: rgb(241, 239, 239);
    gap: 10px;
    padding: 10px;
    margin: 15px;
}

div.card{
    width:calc(33.333% - 10px );
    border: 1px solid;
}

.error{
    color:red;
    font-size: 10px;
}

.error.hidden{
    display: none;
}


